<div class="footer-box">
    <div class="footer-content">
        <div class="footer-content__article">
            <span class="footer-content_text">Čo je livechat modeling ?</span>
            <span class="footer-content_text">Recenzie</span>
            <span class="footer-content_text">Benefity</span>
            <span class="footer-content_text">Kontaktný formulár</span>
            <span class="footer-content_text">GDPR</span>
        </div>
        <div class="footer-content__article">
            <span class="footer-content_text">&copy;</span>
            <span class="footer-content_text">&nbsp;2019&nbsp;Paradise&nbsp;Studio</span>
        </div>
    </div>
</div>