<nav class="navigation-box">
    <div class="nav-logo">
        <span class="logo-img"></span>
    </div>
    <div class="burger__menu">
        <div class="burger__menu_box">
            <span class="burger__line"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
        </div>
        <div class="burger__bckg"></div>
    </div>
    <div class="nav-menu">
        <a href="#ref" class="menu-content__text">Referencie</a>
        <a href="#about" class="menu-content__text">O Nás</a>
        <a href="#contact" class="menu-content__text">Kontakt</a>
    </div>
</nav>