@charset "UTF-8";
/* author --> Milan Štiglic */
/* Avenir */
@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: "Avenir HeavyOblique";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-HeavyOblique.otf");
}

@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: "Avenir LightOblique";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-LightOblique.otf");
}

@font-face {
  font-family: "Avenir Oblique";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-Obliquek.otf");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("../fonts/avenir/Avenir - OpenType CFF Std/AvenirLTStd-Roman.otf");
}

/* [ -end- ]  Avenir */
/* Brandon */
@font-face {
  font-family: "Brandon Black";
  src: url("../fonts/brandon/brandon-grotesque-black-58a8a3e824392.otf");
}

@font-face {
  font-family: "Brandon Bold Italic";
  src: url("../fonts/brandon/brandon-grotesque-bold-italic-58a8a48221563.otf");
}

@font-face {
  font-family: "Brandon Light";
  src: url("../fonts/brandon/brandon-grotesque-light-58a8a4b38001d.otf");
}

@font-face {
  font-family: "Brandon Light Italic";
  src: url("../fonts/brandon/brandon-grotesque-light-italic-58a8a4ccb88be.otf");
}

@font-face {
  font-family: "Brandon Medium Italic";
  src: url("../fonts/brandon/brandon-grotesque-medium-italic-58a8a3c40866a.otf");
}

@font-face {
  font-family: "Brandon Regular Italic";
  src: url("../fonts/brandon/brandon-grotesque-regular-italic-58a8a456c4724.otf");
}

@font-face {
  font-family: "Brandon Thin Italic";
  src: url("../fonts/brandon/brandon-grotesque-thin-italic-58a8a3a8861fe.otf");
}

/* [ -end- ] Brandon */
/* author --> Milan Štiglic */
/* author --> Milan Štiglic */
/* max-width 600px */
body,
.cookies {
  overflow-x: hidden;
}

.navigation-box {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.navigation-box .nav-logo {
  width: 350px;
  height: 100%;
  display: block;
}

.navigation-box .nav-logo .logo-img {
  height: 60px;
  width: 100%;
  display: block;
  background-image: url("/assets/logo__paradise_studio.png");
  background-position: top;
  background-size: 200px;
  background-repeat: no-repeat;
  display: block;
}

.burger__menu .burger__menu_box {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.burger__menu .burger__menu_box .burger__line {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  display: block;
  background-color: #777777;
  -webkit-transition: .2s;
  transition: .2s;
}

.burger__menu-active .burger__menu_box {
  right: 2em;
  top: 2em;
  position: absolute;
  z-index: 7;
}

.burger__menu-active .burger__menu_box .burger__line {
  background-color: #71d1f5;
}

.burger__menu-active .burger__menu_box .burger__line:nth-child(1) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 0;
}

.burger__menu-active .burger__menu_box .burger__line:nth-child(3) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
}

.burger__menu-active .burger__menu_box .burger__line:nth-child(2) {
  opacity: 0;
}

.burger__menu-active .nav-menu {
  right: 1em;
}

.nav-menu {
  top: 10vh;
  right: -250px;
  position: absolute;
  z-index: 6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.5em;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav-menu a {
  color: #fff;
}

.nav-menu::after {
  content: '';
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #777777;
  -webkit-transition: .2s;
  transition: .2s;
  pointer-events: none;
}

.nav-menu .menu-content__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #71d1f5;
  text-align: center;
  padding: 5px;
  width: 200px;
  margin-bottom: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav-menu .menu-content__text:hover {
  border-bottom: solid 5px #ffa988;
}

.main_content-box {
  overflow-x: hidden;
  background-image: url("/assets/bckg.png");
  background-position: -700px 900px;
  background-size: 2800px 2800px;
  background-repeat: no-repeat;
  display: block;
}

.main_content-box .section__box {
  margin-bottom: 100px;
}

.main_content-box .section__box .section__column {
  width: 100%;
  margin-top: 0;
}

.main_content-box .section__box .section__column .section__content {
  margin-top: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_content-box .section__box .section__column .section__content .title__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  margin-bottom: 50px;
}

.main_content-box .section__box .section__column .section__content .title__box .section__title {
  font-size: 2.5em;
}

.main_content-box .section__box .section__column .section__content .title__box .section__sub-title {
  font-size: 2em;
  letter-spacing: 5px;
}

.main_content-box .section__box .section__column .section__intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .title__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .title__box .intro__title {
  font-size: 3em;
  margin-bottom: unset;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .title__box .intro__sub_title {
  font-size: 2.5em;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .content__box {
  text-align: center;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .input_email__box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .input_email__box form .cliet_email__input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: none;
  height: 28px;
  border: none;
  border: solid 1px #777777;
  border-radius: 100px;
  padding: 0.5em 2em;
  min-width: 198px;
  width: 80%;
}

.main_content-box .section__box .section__column .section__intro .s-c_width__box .input_email__box form .sbt {
  margin-top: 10px;
}

.main_content-box .section__box .section__column .section__intro .social__box {
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  border-radius: 0;
  background: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.main_content-box .section__box .section__column .section__intro .social__box .social__icon i {
  color: #ffa988;
  font-size: 3em;
}

.main_content-box .section__box .section__column .section__intro .social__box .social__icon:nth-child(1) {
  margin-bottom: 0;
  margin-right: 50px;
}

.main_content-box .section__box .section__column .section__intro .social__box .social__icon:nth-child(1) i {
  color: #4267B2;
}

.main_content-box .section__box .section__column .section__intro .social__box .social__icon:nth-child(2) i {
  color: #833AB4;
}

.main_content-box .section__box .section__column .section__references {
  margin-top: 600px;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .title__box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box .comment_picture__box {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 100px;
  top: 40px;
  z-index: 2;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box .comment_content__box {
  margin-top: 150px;
  padding-top: 3em;
  margin-bottom: 20px;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box .comment_content__box .comment__social {
  top: 0;
  right: 0;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box .comment__remote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box .comment__remote .remote__arrow:hover {
  background-color: #fff;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box .comment__remote .remote__arrow:hover i {
  color: #f85157;
}

.main_content-box .section__box .section__column .section__references .s-c_width__box .content__box:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_content-box .section__box .section__column .section__about {
  margin-top: 100px;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box {
  position: relative;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box .about__content {
  margin-right: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box .about__content .about__element:nth-child(1) {
  margin-left: 0;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box .about__content .about__element {
  width: 200px;
  margin-top: 50px;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box .about__content .about__element .about__top i {
  font-size: 2em;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box .about__content .about__element .about__center .about__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_content-box .section__box .section__column .section__about .s-c_width__box .content__box .remote__box:nth-child(2) {
  display: none;
}

.main_content-box .section__box .section__column .section__contact {
  margin-top: 100px;
}

.main_content-box .section__box .section__column .section__contact .s-c_width__box {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content-box .section__box .section__column .section__contact .s-c_width__box form {
  width: 50%;
}

.main_content-box .section__box .section__column .section__contact .s-c_width__box form .content__box {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.main_content-box .photo__circle_box {
  height: 120vh;
  top: 400px;
  background-image: url("/assets/peoples_bubbles/p_bckg.png");
  background-position: 300px;
  background-size: 1300px;
  background-repeat: no-repeat;
  display: block;
}

.bckg__pipes {
  display: none;
}

.cookies_content-box {
  background: none;
  background-image: none;
}

.footer-box {
  -webkit-clip-path: ellipse(100% 100% at 50% 100%);
          clip-path: ellipse(100% 100% at 50% 100%);
}

.footer-box .footer-content {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-box .footer-content .footer-content__article:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-box .footer-content .footer-content__article {
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  .main_content-box {
    background-image: url("/assets/bckg.png");
    background-position: -700px 900px;
    background-size: 3200px 3200px;
    background-repeat: no-repeat;
    display: block;
  }
  .cookies_content-box {
    background: none;
    background-image: none;
  }
}

@media only screen and (max-width: 990px) {
  .main_content-box {
    background-image: url("/assets/bckg.png");
    background-position: -1000px 900px;
    background-size: 3250px 3250px;
    background-repeat: no-repeat;
    display: block;
  }
  .cookies_content-box {
    background: none;
    background-image: none;
  }
}

@media only screen and (max-width: 761px) {
  .main_content-box {
    background-image: url("/assets/bckg.png");
    background-position: -1000px 1100px;
    background-size: 3050px 3050px;
    background-repeat: no-repeat;
    display: block;
  }
  .cookies_content-box {
    background: none;
    background-image: none;
  }
}

@media only screen and (max-width: 680px) {
  .main_content-box {
    background-image: url("/assets/bckg.png");
    background-position: -1200px 1100px;
    background-size: 3500px 3500px;
    background-repeat: no-repeat;
    display: block;
  }
  .cookies_content-box {
    background: none;
    background-image: none;
  }
}
/*# sourceMappingURL=tablet.css.map */