<div class="wrapper">

    <!-- Navigation -->
    <nav class="navigation-box">
        <div class="nav-logo">
            <span class="logo-img"></span>
        </div>
        <div class="burger__menu">
            <div class="burger__menu_box">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </div>
            <div class="burger__bckg"></div>
        </div>
        <div class="nav-menu">
            <a href="#ref" class="menu-content__text">Referencie</a>
            <a href="#about" class="menu-content__text">O Nás</a>
            <a href="#contact" class="menu-content__text">Kontakt</a>
        </div>
    </nav>
    <!-- [ -end- of Navigation ] -->

    <!-- Main -->
    <div class="main_content-box">
        <div class="photo__circle_box">

        </div>
        <div class="section__box">
            <div class="section__column">
                <div class="section__content section__intro">
                    <div class="s-c_width__box">
                        <div class="title__box">
                            <h1 class="main-title__font intro__title">Modeling</h1>
                            <h2 class="sub-title__font intro__sub_title">Je zábava</h2>
                        </div>
                        <div class="content__box">
                            <span class="basic_text__font">
                            Lorem Ipsum je fiktívny text, používaný pri návrhu tlačovín a typografie. Lorem Ipsum je štandardným výplňovým textom už od 16. storočia, keď neznámy tlačiar zobral sadzobnicu plnú tlačových znakov a pomiešal ich, aby tak vytvoril vzorkovú knihu. Prežil nielen päť storočí, ale aj skok do elektronickej sadzby, a pritom zostal v podstate nezmenený.
                        </span>
                        </div>
                        <div class="input_email__box">
                            <form action="#" method="POST" autocomplete="off">
                                <input type="email" placeholder="e-mail" name="client_email" class="cliet_email__input">
                                <button type="submit" name="e-mail-SBT" class="sbt">
                                    <span class="main-title__font">Chcem byť modelom</span>
                                    <span class="img">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="social__box">
                        <a class="social__icon" href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a class="social__icon" href="https://www.instagram.com" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="section__content section__references" id="ref">
                    <div class="s-c_width__box">
                        <div class="title__box">
                            <h1 class="main-title__font section__title">Hovoria</h1>
                            <h2 class="sub-title__font section__sub-title">o nás</h2>
                        </div>
                        <div class="content__box">
                            <div class="comment_picture__box">
                                <span class="img"></span>
                            </div>
                            <div class="comment_content__box">
                                <div class="comment_title__box">
                                    <h1 class="main-title__font">Filip</h1>
                                    <h1 class="main-title__font">KOtík</h1>
                                </div>
                                <span class="comment__text basic_text__font">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus.
                                    </span>
                                <div class="comment__social">
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                        <span class="social__username basic_text__font">f_kotik</span>
                                    </a>
                                </div>
                            </div>
                            <div class="comment__remote">
                                <span class="remote__arrow">
                                    <i class="fas fa-chevron-left"></i>
                                   </span>
                                <span class="remote__arrow">
                                    <i class="fas fa-chevron-right"></i>
                                   </span>
                            </div>
                        </div>
                        <div class="content__box">
                            <div class="comment_picture__box">
                                <span class="img"></span>
                            </div>
                            <div class="comment_content__box">
                                <div class="comment_title__box">
                                    <h1 class="main-title__font">Magda</h1>
                                    <h1 class="main-title__font">Mrkvičková</h1>
                                </div>
                                <span class="comment__text basic_text__font">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus.
                                    </span>
                                <div class="comment__social">
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                        <span class="social__username basic_text__font">m_mrkvickova</span>
                                    </a>
                                </div>
                            </div>
                            <div class="comment__remote">
                                <span class="remote__arrow">
                                    <i class="fas fa-chevron-left"></i>
                                   </span>
                                <span class="remote__arrow">
                                    <i class="fas fa-chevron-right"></i>
                                   </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__content section__about" id="about">
                    <div class="s-c_width__box">
                        <div class="title__box">
                            <h1 class="main-title__font section__title">Vieme, čo je</h1>
                            <h2 class="sub-title__font section__sub-title">Dôležité</h2>
                        </div>
                        <div class="content__box">
                            <div class="remote__box">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="remote__box">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                            <div class="about__content">
                                <div class="about__element">
                                    <div class="about__top">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="about__center">
                                        <h1 class="main-title__font about__title">flexibílna práca</h1>
                                        <span class="basic_text__font about__text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus. Proin dignissim justo a vestibulum molestie. 
                                        </span>
                                    </div>
                                </div>
                                <div class="about__element">
                                    <div class="about__top">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="about__center">
                                        <h1 class="main-title__font about__title">diskrétnosť</h1>
                                        <span class="basic_text__font about__text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus. Proin dignissim justo a vestibulum molestie. 
                                        </span>
                                    </div>
                                </div>
                                <div class="about__element">
                                    <div class="about__top">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="about__center">
                                        <h1 class="main-title__font about__title">Platba načas 2x mesačne</h1>
                                        <span class="basic_text__font about__text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus. Proin dignissim justo a vestibulum molestie. 
                                        </span>
                                    </div>
                                </div>
                                <div class="about__element">
                                    <div class="about__top">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="about__center">
                                        <h1 class="main-title__font about__title">podpora</h1>
                                        <span class="basic_text__font about__text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus. Proin dignissim justo a vestibulum molestie. 
                                        </span>
                                    </div>
                                </div>
                                <div class="about__element">
                                    <div class="about__top">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                    <div class="about__center">
                                        <h1 class="main-title__font about__title">zázemie</h1>
                                        <span class="basic_text__font about__text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nisi sapien. Etiam nec felis elementum, viverra tortor et, vestibulum lectus. Proin dignissim justo a vestibulum molestie. 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__content section__contact" id="contact">
                    <div class="s-c_width__box">
                        <div class="title__box">
                            <h1 class="main-title__font section__title">Kontaktný</h1>
                            <h2 class="sub-title__font section__sub-title">fromulár</h2>
                        </div>
                        <form action="#" method="POST" autocomplete="off">
                            <div class="content__box">
                                <input type="text" name="contact_client_name" placeholder="Meno, Priezvisko" class="contact_client_name">
                                <input type="text" name="contact_client_phone" placeholder="Tele č." class="contact_client_phone">
                                <div class="upload__file">
                                    <label for="upload__photo">
                                        <span class="upload__text">Tvoje fotografie</span>
                                        <span class="upload__btn">Nahrať</span>
                                    </label>
                                    <input type="file" name="contact_client_photo" placeholder="Tvoje fotografie" id="upload__photo" class="contact_client_photo">
                                </div>
                                <input type="email" name="contact_client_email" placeholder="E-mail" class=" contact_client_email">
                                <input type="number" name="contact_client_age" placeholder="Vek" class=" contact_client_age">
                                <input type="text" name="contact_client_about" placeholder="Text" class="contact_client_about">
                            </div>
                            <button type="submit" name="contact-SBT" class="sbt">
                                    <span class="main-title__font">Odoslať</span>
                                    <span class="img">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ -end- of Main ] -->

    <!-- Footer -->
    <div class="footer-box">
        <div class="footer-content">
            <div class="footer-content__article">
                <span class="footer-content_text">Čo je livechat modeling ?</span>
                <span class="footer-content_text">Recenzie</span>
                <span class="footer-content_text">Benefity</span>
                <span class="footer-content_text">Kontaktný formulár</span>
                <span class="footer-content_text">GDPR</span>
            </div>
            <div class="footer-content__article">
                <span class="footer-content_text">&copy;</span>
                <span class="footer-content_text">&nbsp;2019&nbsp;Paradise&nbsp;Studio</span>
            </div>
        </div>
    </div>
    <!-- [ -end- of Footer ] -->
</div>